a.noblue {
    color: black;
}

a:hover {
    color: blue;
}

.space_down {
    margin-bottom: 20px;
}

.author {
    font-style: italic;
}

.important {
    font-weight: bold;
    background-color: #d9534f; /*danger*/
    color: blue;
}