{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-8">
        <div class="row space_down">
            <a class="btn btn-success" href="{% url 'twitts:new' %}">
                Create new twitt
            </a>
        </div>
        <div class="row">
            {% if latest_twitt_list %}
            <ul class="list-group">
                {% for twitt in latest_twitt_list %}
                    <li class="list-group-item{% if twitt.important %} important{% endif %}">
                        <a class="noblue" href="{% url 'twitts:details' twitt.id %}">
                            {{ twitt.twitt_text }} ~ <text class="author">{{twitt.author}}</text>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No new twitts.</p>
            {% endif %}
        </div>
    </div>
    <div class="col-4">
        <div class="row justify-content-end">
            <button>
                <a class="noblue" href="{% url 'logout' %}">
                    Logout
                </a>
            </button>
        </div>
    </div>
</div>

{% endblock %}
